{% extends 'base.twig' %}
{% block main %}
    <div class="flex flex-col h-screen justify-center items-center">
        <div class="p-12 border-2 border-pink-700 rounded-xl text-center">
            <div class="mb-12">
                <p class="text-3xl">Create account</p>
            </div>
            <form method="post" action="/new-user" class="flex flex-col space-y-3">
                <div class="flex justify-between space-x-2">
                    <label for="username">Name</label>
                    <input type="text" class="text-input" id="username" name="username">
                </div>
                <div class="flex justify-between space-x-2">
                    <label for="password">Password</label>
                    <input type="password" class="text-input" id="password" name="password">
                </div>
                <div class="flex justify-center space-x-8">
                    <div>
                        <input type="radio" id="male" name="gender" value="M">
                        <label for="male">Male</label>
                    </div>
                    <div>
                        <input type="radio" id="female" name="gender" value="F">
                        <label for="female">Female</label>
                    </div>
                </div>
                <div class="flex justify-center">
                    <input type="submit" class="button" value="Create account">
                </div>
            </form>
            <div class="mt-8">
                <p>or</p>
            </div>
            <form method="get" action="/login">
                <input type="submit" class="button" value="Log in">
            </form>
        </div>
    </div>
{% endblock %}