{% extends 'base.twig' %}
{% block main %}
    <div class="text-center">
        <p class="title">{{ users.getUserById(SESSION.userId).name }}</p>
        {% for photo in photos.getUserPhotos(SESSION.userId) %}
            <div class="inline-flex justify-center items-center">
                <div class="flex flex-col">
                    <img src="photo/{{ photo.filename[:32] }}{{ photo.filename[33:] }}" class="photo-m">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}