<br>
{% if SESSION.authId is defined %}
    {{ currentUser.name }}
<form method="get" action="/logout">
    <input type="submit" value="Log out">
</form>
    <form method="get" action="/add-photo">
        <input type="submit" value="Add photo">
    </form>
{% endif %}
<br>