{% if SESSION.authId is defined %}
    <div class="flex justify-between w-full px-2 py-1 bg-gradient-to-b from-pink-900 to-pink-50">
        <div>
            <p class="text-pink-50 text-xl font-bold">Dating®</p>
        </div>
        <div class="flex justify-end items-baseline space-x-2">
            <form method="get" action="/">
                <input type="submit" class="button" value="Home">
            </form>
            <form method="get" action="/my-profile">
                <input type="submit" class="button" value="My profile">
            </form>
            <form method="get" action="/matches">
                <input type="submit" class="button" value="Matches">
            </form>
            <p class="text-sm text-pink-50">Logged in as <span class="font-bold">{{ currentUser.name }}</span></p>
            <form method="get" action="/logout">
                <input type="submit" class="button" value="Log out">
            </form>
        </div>
    </div>
{% endif %}